<h1>Coordinates to weather results</h1>

<dl>
<dt>Latitude</dt>
<dd><%= @lat %></dd>

<dt>Longitude</dt>
<dd><%= @lon %></dd>

<dt>Current Temperature</dt>
<dd><%= @temp %></dd>

<dt>Current Summary</dt>
<dd><%= @summary %></dd>

<dt>Outlook for next sixty minutes</dt>
<dd><%= @mins %></dd>

<dt>Outlook for next several hours</dt>
<dd><%= @hours %></dd>

<dt>Outlook for next several days</dt>
<dd><%= @days %></dd>
</dl>

